<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="classes">

    <!-- Add Allure Listener -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Google Search Test">
        <classes>
            <class name="webTest.Browserlaunch"/>
        </classes>
    </test>

</suite>
